<div class="edit-this-page">
    <!-- English Dropdown -->
    <div class="navbar-item has-dropdown is-hoverable">
      <button class="dropbtn">English</button>
      <div class="dropdown-content">
        <a href="#">Option 1</a>
        <a href="#">Option 2</a>
        <a href="#">Option 3</a>
      </div>
    </div>

    <!-- Japanese Dropdown -->
    <div class="navbar-item has-dropdown is-hoverable">
      <button class="dropbtn">Japanese</button>
      <div class="dropdown-content">
        <a href="#">オプション 1</a>
        <a href="#">オプション 2</a>
        <a href="#">オプション 3</a>
      </div>
    </div>
  </div>