@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: 
    url(~@fontsource/noto-sans-kr/files/noto-sans-kr-korean-400-normal.woff2) format("woff2"), 
	url(~@fontsource/noto-sans-kr/files/noto-sans-kr-korean-400-normal.woff) format("woff");
  unicode-range: U+AC00-D7AF; /* Korean */
}